**/.DS_Store
**/.ipynb_checkpoints/**
**/results/**
DATA/obj_study_raw/**
._.*
**.pyc
**.ini
**.stl
**/__pycache__/**
**/colmap-projs/**
**/tb-logs/**
output_frames/
DATA
**/.ipynvb_checkpoints/** */
pytorch3d-0.7.2/